In [273]:
import numpy as np
import pandas as pd
import os
import datetime as dt
from pykrx import stock


from dateutil import relativedelta

In [310]:
'''뒤지게 오래걸림 import할때'''

kospi200 = stock.get_index_ohlcv('20070901', '20221130', '1028')['종가']
file_path = os.getcwd() + '/Data/'

df_close   = pd.read_excel(file_path+'Call_data_close.pkl', sheet_name='종가')
df_base    = pd.read_excel(file_path+'Call_data_base.pkl', sheet_name='기준가')
df_volume  = pd.read_excel(file_path+'Call_data_volume.pkl', sheet_name='거래량')
df_imvol   = pd.read_excel(file_path+'Call_data_imvol.pkl', sheet_name='내재변동성')
df_open    = pd.read_excel(file_path+'Call_data_open.pkl', sheet_name='미결제약정')

data_list = [df_close, df_base, df_volume, df_imvol, df_open]

In [311]:
df_close

,Unnamed: 0,Last Refresh: 2022-11-30 22:21:30,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 8451,Unnamed: 8452,Unnamed: 8453,Unnamed: 8454,Unnamed: 8455,Unnamed: 8456,Unnamed: 8457,Unnamed: 8458,Unnamed: 8459,Unnamed: 8460
0,Calendar Basis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Portfolio,,Default,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequency,일간,KRW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non-Trading Day,Exclusive,Asc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,2022-11-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3798,2022-11-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3799,2022-11-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3800,2022-11-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3801,2022-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
def ch (name):
    cptype = name[7:8]
    maturity = name[9:15]
    strike = name[16:]

    return cptype+maturity+strike

def op_chain_df (cpflag, maturity, strike, data_list, s0=None):
    '''data_list 순서 (종가/기준가/거래량/내재변동성/미결제약정)'''

    name = cpflag + str(maturity) + str(strike)

    reg = pd.DataFrame()

    for idx, feature in enumerate(['종가', '기준가', '거래량', '내재변동성', '미결제약정']):
        df = data_list[idx]

        tmp = df.iloc[8:]
        tmp = tmp.set_axis(tmp.iloc[0], axis=1).drop(index=[8,9,10,11,12])

        tmp = tmp.rename(columns={tmp.columns[0] : 'Date'}).set_index('Date')
        tmp.index = pd.to_datetime(tmp.index)
        tmp.columns = [ch(x) for x in tmp.columns]

        reg = pd.concat([reg, tmp[name]], axis=1)

    reg.index = tmp.index
    reg.columns = ['종가', '기준가', '거래량', '내재변동성', '미결제약정']

    if s0 is None:
        return reg.dropna()
    else:
        reg.dropna(inplace=True)
        reg['s0'] = s0.loc[reg.index]
        return reg


def option_date_creator (week, date):
    '''마지막 만기 거래일이 나옴'''
    base_date = dt.datetime.strptime(date, '%Y-%m')
    option_date = base_date + relativedelta.relativedelta(weekday=3) + dt.timedelta(weeks=week)
    option_date = option_date.strftime('%Y-%m-%d')

    return option_date

## 데이터내부의 K의 Boundary와 만기일

In [276]:
ticker_list = [ch(x) for x in df_close.iloc[8].values][1:]
maturity_date = list(pd.Series([str(x[1:7]) for x in ticker_list]).unique())

upper = []
lower = []

for date in maturity_date:
    buffer = []
    for tick in ticker_list:
        if tick[1:7] == date:
            buffer.append(tick[7:])
        else:
            pass


    upper.append(buffer[np.argmax(buffer)])
    lower.append(buffer[np.argmin(buffer)])

reg = pd.DataFrame(data=[upper, lower], columns=maturity_date).T.rename(columns={0:'Upper', 1:'Lower'})
reg
reg['last_trade_date'] = [option_date_creator(1, f'{x[:4]}-{x[4:]}') for x in reg.index]
reg

        Upper  Lower last_trade_date
200709  270.0  165.0      2007-09-13
200710  275.0  192.5      2007-10-11
200711  277.5  192.5      2007-11-08
200712  277.5  195.0      2007-12-13
200801  277.5  210.0      2008-01-10
...       ...    ...             ...
202207  515.0  222.5      2022-07-14
202208  490.0  222.5      2022-08-11
202209  520.0  220.0      2022-09-08
202210  480.0  180.0      2022-10-13
202211  475.0  180.0      2022-11-10

[183 rows x 3 columns]

## 옵션 뽑기 (Data_list에 5개의 df 설정해주기)

In [277]:
test = op_chain_df('C', 200712, 277.5, data_list)
test

              종가   기준가      거래량  내재변동성   미결제약정
Date
2007-10-12  4.85   6.2     2165  0.264    1591
2007-10-15   4.5  4.85     3752  0.259    4078
2007-10-16   3.2   4.5     2872  0.253    4941
2007-10-17  2.43   3.2     5292  0.251    7059
2007-10-18  2.68  2.43     4227  0.248    9073
2007-10-19   1.8  2.68     1669  0.244    9311
2007-10-22  1.07   1.8     3859  0.268   11105
2007-10-23  1.45  1.07     4644  0.262   13356
2007-10-24  1.25  1.45    15102  0.264   15261
2007-10-25     2  1.25     5274  0.265   18442
2007-10-26  3.45     2     4151  0.271   19710
2007-10-29   4.6  3.45     7700  0.276   21270
2007-10-30  4.35   4.6     6221  0.288   21241
2007-10-31   4.7  4.35     2886  0.286   21639
2007-11-01   4.5   4.7     6401   0.28   20732
2007-11-02   2.8   4.5    12102  0.278   26064
2007-11-05  2.43   2.8    18173  0.283   32224
2007-11-06  3.75  2.43    19378   0.29   36783
2007-11-07   3.9  3.75    31764  0.305   42469
2007-11-08   2.2   3.9    91593  0.318   69938
2007-11-09   1.5   2.2   931816  0.266  121007
2007-11-12  0.63   1.5   622748  0.282  187348
2007-11-13  0.56  0.63   784913  0.274  213813
2007-11-14   0.8  0.56   872204  0.257  191370
2007-11-15  0.53   0.8   756600   0.26  216330
2007-11-16  0.35  0.53   884842  0.264  242540
2007-11-19  0.17  0.35  1202050  0.277  253644
2007-11-20  0.14  0.17   855961  0.295  242479
2007-11-21  0.06  0.14  1084727  0.322  244589
2007-11-22  0.06  0.06   605096  0.334  272178
2007-11-23  0.05  0.06   435670  0.354  289906
2007-11-26  0.09  0.05   736043  0.328  284025
2007-11-27  0.09  0.09   870688  0.335  261721
2007-11-28  0.04  0.09   681999  0.339  259457
2007-11-29  0.06  0.04   674886  0.319  253746
2007-11-30  0.04  0.06   682149  0.291  284804
2007-12-03  0.02  0.04   234094  0.306  324962
2007-12-04  0.01  0.02    46741  0.281  347897
2007-12-05  0.02  0.01   357972  0.289  282653
2007-12-06  0.02  0.02   324740  0.282  335744
2007-12-07  0.01  0.02   190897  0.305  324504
2007-12-10  0.01  0.01    15329  0.453  313814
2007-12-11  0.01  0.01      224  0.476  313958
2007-12-12  0.01  0.01     3544   0.58  311617
2007-12-13  0.01  0.01      140  0.909       0

In [278]:
test = op_chain_df('C', 200712, 277.5, data_list, kospi200)
test

              종가   기준가      거래량  내재변동성   미결제약정      s0
Date
2007-10-12  4.85   6.2     2165  0.264    1591  257.31
2007-10-15   4.5  4.85     3752  0.259    4078  257.68
2007-10-16   3.2   4.5     2872  0.253    4941  253.43
2007-10-17  2.43   3.2     5292  0.251    7059  250.48
2007-10-18  2.68  2.43     4227  0.248    9073  252.60
2007-10-19   1.8  2.68     1669  0.244    9311  248.35
2007-10-22  1.07   1.8     3859  0.268   11105  239.94
2007-10-23  1.45  1.07     4644  0.262   13356  244.90
2007-10-24  1.25  1.45    15102  0.264   15261  243.31
2007-10-25     2  1.25     5274  0.265   18442  248.80
2007-10-26  3.45     2     4151  0.271   19710  255.65
2007-10-29   4.6  3.45     7700  0.276   21270  260.40
2007-10-30  4.35   4.6     6221  0.288   21241  258.87
2007-10-31   4.7  4.35     2886  0.286   21639  260.42
2007-11-01   4.5   4.7     6401   0.28   20732  260.76
2007-11-02   2.8   4.5    12102  0.278   26064  254.74
2007-11-05  2.43   2.8    18173  0.283   32224  253.91
2007-11-06  3.75  2.43    19378   0.29   36783  259.24
2007-11-07   3.9  3.75    31764  0.305   42469  258.74
2007-11-08   2.2   3.9    91593  0.318   69938  249.97
2007-11-09   1.5   2.2   931816  0.266  121007  252.21
2007-11-12  0.63   1.5   622748  0.282  187348  243.89
2007-11-13  0.56  0.63   784913  0.274  213813  244.73
2007-11-14   0.8  0.56   872204  0.257  191370  250.21
2007-11-15  0.53   0.8   756600   0.26  216330  247.39
2007-11-16  0.35  0.53   884842  0.264  242540  244.13
2007-11-19  0.17  0.35  1202050  0.277  253644  239.78
2007-11-20  0.14  0.17   855961  0.295  242479  236.91
2007-11-21  0.06  0.14  1084727  0.322  244589  228.84
2007-11-22  0.06  0.06   605096  0.334  272178  228.10
2007-11-23  0.05  0.06   435670  0.354  289906  225.54
2007-11-26  0.09  0.05   736043  0.328  284025  236.01
2007-11-27  0.09  0.09   870688  0.335  261721  236.38
2007-11-28  0.04  0.09   681999  0.339  259457  232.87
2007-11-29  0.06  0.04   674886  0.319  253746  238.68
2007-11-30  0.04  0.06   682149  0.291  284804  241.91
2007-12-03  0.02  0.04   234094  0.306  324962  241.61
2007-12-04  0.01  0.02    46741  0.281  347897  244.04
2007-12-05  0.02  0.01   357972  0.289  282653  247.03
2007-12-06  0.02  0.02   324740  0.282  335744  249.63
2007-12-07  0.01  0.02   190897  0.305  324504  247.38
2007-12-10  0.01  0.01    15329  0.453  313814  244.25
2007-12-11  0.01  0.01      224  0.476  313958  246.85
2007-12-12  0.01  0.01     3544   0.58  311617  247.15
2007-12-13  0.01  0.01      140  0.909       0  245.21