In [1]:
import os
import numpy as np
import pandas as pd

# Data 폴더의 파일 리스트 가져오기

In [13]:
csv_list = []

for x in os.listdir('Data'):
    if x[-4:] == '.csv':
        csv_list.append(x)

csv_list

['opt8.csv']

# 리스트에서 하나씩 넣어서 뽑기 (함수)

In [213]:
def ch (name):
    cptype = name[7:8]
    maturity = name[9:15]
    strike = name[16:]

    return cptype+maturity+strike

def op_chain_df (file, cpflag, maturity, strike):
    '''file is original csv 코드랑 같은 위치에 Data 폴더 안에 넣을 것, cpflag is str, maturity is str, strike is int'''
    
    file_path = os.getcwd() + '/Data/'

    name = cpflag + str(maturity) + str(strike)

    df = pd.read_csv(file_path + file)[8:]
    df = df.set_axis(df.iloc[0], axis=1).drop(index=[8, 9, 10, 11, 12, 13])

    df = df.rename(columns={df.columns[0]:'Date'}).set_index('Date')
    
    df.index = pd.to_datetime(df.index)
    df.columns = [ch(x) for x in df.columns]

    tmp = df[name]
    tmp.columns = ['종가','기준가','기초자산가','거래량','행사가격','내재변동성','잔존일수']

    return tmp

def op_list (file):
    
    file_path = os.getcwd() + '/Data/'

    df = pd.read_csv(file_path + file)[8:]
    df = df.set_axis(df.iloc[0], axis=1).drop(index=[8, 9, 10, 11, 12, 13])

    df = df.rename(columns={df.columns[0]:'Date'}).set_index('Date')

    df.index = pd.to_datetime(df.index)
    df.columns = [ch(x) for x in df.columns]

    return list(df.columns.unique())

In [206]:
op_list(csv_list[0])

['C202208307.5',
 'C202208310.0',
 'C202208312.5',
 'C202208315.0',
 'C202208317.5',
 'C202208320.0',
 'P202208305.0',
 'P202208302.5',
 'P202208300.0',
 'P202208297.5',
 'P202208295.0',
 'P202208292.5']

In [215]:
op_chain_df(csv_list[0], 'P', 202208, 292.5)

              종가   기준가   기초자산가  거래량   행사가격  내재변동성 잔존일수
Date
2021-11-29   NaN   NaN     NaN  NaN  292.5    NaN  NaN
2021-11-30   NaN   NaN     NaN  NaN  292.5    NaN  NaN
2021-12-01   NaN   NaN     NaN  NaN  292.5    NaN  NaN
2021-12-02   NaN   NaN     NaN  NaN  292.5    NaN  NaN
2021-12-03   NaN   NaN     NaN  NaN  292.5    NaN  NaN
...          ...   ...     ...  ...    ...    ...  ...
2022-11-24  0.01  0.01  329.92   23  292.5  0.514    1
2022-11-25  0.01  0.01  329.92   23  292.5  0.514    1
2022-11-26  0.01  0.01  329.92   23  292.5  0.514    1
2022-11-27  0.01  0.01  329.92   23  292.5  0.514    1
2022-11-28  0.01  0.01  329.92   23  292.5  0.514    1

[365 rows x 7 columns]